  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h2 class="intro-text text-center">
            Tasty <strong>Ramen</strong>
        </h2>
        <hr>
        <p>After experiencing the marvel of <%= link_to "Ramen Tatsuya", "http://ramen-tatsuya.com/" %> in Austin, I decided to embark on a personal quest to find some good ramen in Houston. Fortunately, after searching a bit I found some pretty good offerings around town. These are in no particular order.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <h3>Taiko Restaurant <small>Tonkotsu Ramen</small></h3>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= image_tag "ramen/taiko_with_company", class: "img img-responsive img-rounded" %>
      </div>
      <div class="col-sm-8 col-md-9">
        <h4>Best Ramen in Cypress?</h4>
        <p>I was lead to <%= link_to "Taiko", "http://www.yelp.com/biz/taiko-houston-2" %> from a Facebook post by an old high school acquaintance. I don't normally venture out to Cypress to find fine dining (we have plenty of that here in town), but I gave it a try and was impressed. Taiko had the feel of the burbs, but the quaint family-run atmosphere was enjoyable. If you're in the area it's definitely worth a try.</p>
        <br/>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Noodles</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Meat</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <h3>Ramen Jin <small>Tonkotsu Shoyu</small></h3>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= image_tag "ramen/ramen_jin_with_company", class: "img img-responsive img-rounded" %>
      </div>
      <div class="col-sm-8 col-md-9">
        <h4>A solid contender</h4>
        <p>After reading this <%= link_to "Zagat list", "https://www.zagat.com/b/houston/8-places-to-get-your-ramen-fix-in-houston#3" %> I decided to give <%= link_to "Ramen Jin", "https://www.facebook.com/ramenjin/" %> a try. They have several varieties of Ramen and I chose the Tonkotsu Shoyu. Everybody has different preferences in what they like about Ramen.  I prefer chewy noodles (al dente if we were eating Italian) and a hearty broth. I was very satisfied with the Tonkotsu Shoyu and I have returned several times since. The egg was soft boiled to a nice consistency.  They added corn to the soup, which I wouldn't normally ask for, but it worked out OK.</p>
        <br/>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Noodles</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Broth</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Meat</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>        
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <h3>Nippon Japanese Restaurant <small>Ramen</small></h3>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= image_tag "ramen/nippon_with_company", class: "img img-responsive img-rounded" %>
      </div>
      <div class="col-sm-8 col-md-9">
        <h4>Best Atmosphere?</h4>
        <p><%= link_to "Nippon Japanese Restaurant", "http://nippon-sushi.com" %> advertises themselves as the "only Japanese Restaurant that specialize in true Japanese food in Houston." It can be a bit confusing figuring out where to park because I always want to turn into the parking lot next door, but once inside you're in for a treat. This restaurant feels authentic to me because it doesn't have that modern feel most newer Japanese restaurants have. I came here for lunch one day to try their ramen and accidently ordered the Miso Ramen. Even though I'm not the biggest fan of large quantities of miso broth, I would try it again.</p>
        <br/>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Atmo</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Meat</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <h3>Jinya Ramen Bar <small>Tonkotsu Black</small></h3>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= image_tag "ramen/jinya", class: "img img-responsive img-rounded" %>
        <p><small><i>Nobody was feeling photogenic this day so you get just the bowl</i></small></p>
      </div>
      <div class="col-sm-8 col-md-9">
        <h4>Best Broth</h4>
        <p>Perhaps the newest establishment among this list, <%= link_to "Jinya Ramen Bar", "http://jinya-ramenbar.com/" %> is located south of downtown almost where the edge of Midtown meets the Montrose district. I've tried several of their ramen varieties and I'm in love with the Tonkotsu Black. It has a nice meaty broth that doesn't disappoint. If pork isn't your thing then they also have a good selection of delicious chicken-based ramen. You know it's good when the only negative thing I can say is that eating a whole egg with chopsticks is clumsy (most ramen preparations have the egg already cut in half). This place gets cboxded on the weekends, especially for dinner. It's the real deal.</p>
        <br/>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Broth</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Meat</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>        
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <h3>Samurai Noodle <small>Tonkotsu with extra-rich broth and firm (Kata) noodles</small></h3>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= image_tag "ramen/samurai_with_company", class: "img img-responsive img-rounded" %>
      </div>
      <div class="col-sm-8 col-md-9">
        <h4>Most Customizable</h4>
        <p>Samurai Noodle has several good ramen offerings, but what sets it apart is customization. They offer two different Tonkotsu broths (regular or extra-rich) and five different noodle firmness options ranging from extra-soft to extra-firm. Want noodles that dissolve without chewing? Like noodles tougher than beef jerky? This place is for you. Another thing that's somewhat unique is they allow you to substitute pork shoulder instead of pork belly which is a lot less fatty. They make their noodles in house behind a glass window that's fun to watch (though it's rarely being used when I'm there). Tell them Ken sent you... and they will probably look at you confused-like.</p>
        <br/>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">
            <h4>Noodles</h4>
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Broth</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="text-center">  
            <h4>Meat</h4>    
            <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>        
      <div class="clearfix"></div>
    </div>
  </div>

    </div>
  </div>